# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyc


# Ignore virtual environments
venv/

# Ignore environment variables
.env

venv
_pycache_
venv


app/__pycache__

# Ignore machine-specific files
*.DS_Store
*.log
*.sqlite3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
