<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Kelulusan Mahasiswa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Prediksi Kelulusan Mahasiswa</h1>
        <form method="POST" action="{{ url_for('predict') }}">
            <label for="nilai_ujian">Nilai Ujian:</label>
            <input type="number" name="nilai_ujian" required><br>

            <label for="kehadiran">Kehadiran (%):</label>
            <input type="number" name="kehadiran" required><br>

            <label for="keaktifan">Keaktifan (%):</label>
            <input type="number" name="keaktifan" required><br>

            <button type="submit" style="background-color: green; color: white;">Prediksi</button>
        </form>
        
        {% if result %}
            <h2>Hasil Prediksi: {{ result }}</h2>
        {% endif %}

        <!-- Tombol logout -->
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit" style="background-color: red; color: white; margin-top: 20px;">Logout</button>
        </form>
    </div>
</body>
</html>
